.max-width-at-700{
	max-width: 700px;
	display:inline-block;
}

.align-left{
	text-align:left;
}

.margin-5{
	margin: 5px 0;
}

.blue-box{
	background: #3c8dbc;
}

.max-width-at-900{
	max-width: 900px;
	display: inline-block;
}