<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>TagTester</servlet-name>
		<servlet-class>calculus.TagTesterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TagTester</servlet-name>
		<url-pattern>/tag-tester</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>calculus.general.AboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Landing</servlet-name>
		<servlet-class>calculus.general.LandingServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Landing</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Landing</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>calculus.general.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SubmitContact</servlet-name>
		<servlet-class>calculus.general.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitContact</servlet-name>
		<url-pattern>/submit-contact-form</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>calculus.profile.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ChangeUsername</servlet-name>
		<servlet-class>calculus.profile.ChangeUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeUsername</servlet-name>
		<url-pattern>/change-user-name</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ChangeEmailPreferences</servlet-name>
		<servlet-class>calculus.profile.ChangeEmailPreferencesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeEmailPreferences</servlet-name>
		<url-pattern>/change-email-preferences</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ContributePracticeProblem</servlet-name>
		<servlet-class>calculus.contribute.ContributePracticeProblemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContributePracticeProblem</servlet-name>
		<url-pattern>/contribute/practice-problem/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContributePracticeProblem</servlet-name>
		<url-pattern>/contribute/practice-problem/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContributePracticeProblem</servlet-name>
		<url-pattern>/contribute/practice-problem/save</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AnswerContent</servlet-name>
		<servlet-class>calculus.contribute.ContributeAnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnswerContent</servlet-name>
		<url-pattern>/answer/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MarkApprovedAnswer</servlet-name>
		<servlet-class>calculus.general.MarkApprovedAnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkApprovedAnswer</servlet-name>
		<url-pattern>/mark-approved-answer/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ReportContent</servlet-name>
		<servlet-class>calculus.general.ReportContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportContent</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>BookmarkServlet</servlet-name>
		<servlet-class>calculus.general.BookmarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookmarkServlet</servlet-name>
		<url-pattern>/bookmark</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LaTexIntroduction</servlet-name>
		<servlet-class>calculus.contribute.LaTexIntroductionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LaTexIntroduction</servlet-name>
		<url-pattern>/contribute/latex-introduction</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ViewContent</servlet-name>
		<servlet-class>calculus.general.ViewContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/practice-problem/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/question/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/content/*</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>PageNotFound</servlet-name>
		<servlet-class>calculus.PageNotFoundServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>PageNotFound</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
