<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>calculus.pages.AboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SearchByTag</servlet-name>
		<servlet-class>calculus.general.SearchByTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchByTag</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Rating</servlet-name>
		<servlet-class>calculus.content.RatingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rating</servlet-name>
		<url-pattern>/rating/submit</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Landing</servlet-name>
		<servlet-class>calculus.pages.LandingServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Landing</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Landing</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Landing</servlet-name>
		<url-pattern>("")</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>calculus.pages.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Documentation</servlet-name>
		<servlet-class>calculus.pages.DocumentationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Documentation</servlet-name>
		<url-pattern>/tutorial/documentation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Tutorial</servlet-name>
		<servlet-class>calculus.pages.TutorialServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tutorial</servlet-name>
		<url-pattern>/tutorial/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SubmitContact</servlet-name>
		<servlet-class>calculus.pages.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitContact</servlet-name>
		<url-pattern>/submit-contact-form</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>calculus.profile.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ChangeUsername</servlet-name>
		<servlet-class>calculus.profile.ChangeUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeUsername</servlet-name>
		<url-pattern>/change-user-name</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ChangeEmailPreferences</servlet-name>
		<servlet-class>calculus.profile.ChangeEmailPreferencesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeEmailPreferences</servlet-name>
		<url-pattern>/change-email-preferences</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadProfilePicture</servlet-name>
		<servlet-class>calculus.profile.UploadProfilePictureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadProfilePicture</servlet-name>
		<url-pattern>/upload-profile-picture</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContentDashboard</servlet-name>
		<servlet-class>calculus.contribute.ContributeDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentDashboard</servlet-name>
		<url-pattern>/contribute/dashboard/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentDashboard</servlet-name>
		<url-pattern>/contribute/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ContributeQuestion</servlet-name>
		<servlet-class>calculus.contribute.ContributeQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContributeQuestion</servlet-name>
		<url-pattern>/contribute/question/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ContributePracticeProblem</servlet-name>
		<servlet-class>calculus.contribute.ContributePracticeProblemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContributePracticeProblem</servlet-name>
		<url-pattern>/contribute/practice-problem/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContributeTextContent</servlet-name>
		<servlet-class>calculus.contribute.ContributeTextContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContributeTextContent</servlet-name>
		<url-pattern>/contribute/text-content/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AnswerContent</servlet-name>
		<servlet-class>calculus.contribute.ContributeAnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnswerContent</servlet-name>
		<url-pattern>/create-answer/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MarkApprovedAnswer</servlet-name>
		<servlet-class>calculus.content.MarkApprovedAnswerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkApprovedAnswer</servlet-name>
		<url-pattern>/mark-approved-answer/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ReportContent</servlet-name>
		<servlet-class>calculus.content.ReportContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportContent</servlet-name>
		<url-pattern>/report/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReportManager</servlet-name>
		<servlet-class>calculus.admin.ReportManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportManager</servlet-name>
		<url-pattern>/report/manage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BookmarkServlet</servlet-name>
		<servlet-class>calculus.general.BookmarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookmarkServlet</servlet-name>
		<url-pattern>/bookmark</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>calculus.general.NotificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/remove-notification</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecommendationsServlet</servlet-name>
		<servlet-class>calculus.general.RecommendationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecommendationsServlet</servlet-name>
		<url-pattern>/recommendations</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LivePreviewServlet</servlet-name>
		<servlet-class>calculus.contribute.LivePreviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LivePreviewServlet</servlet-name>
		<url-pattern>/contribute/preview/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LaTexIntroduction</servlet-name>
		<servlet-class>calculus.contribute.LaTexIntroductionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LaTexIntroduction</servlet-name>
		<url-pattern>/contribute/latex-introduction</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ViewContent</servlet-name>
		<servlet-class>calculus.content.ViewContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/practice-problem/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/question/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/content/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewContent</servlet-name>
		<url-pattern>/text-content/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminConsole</servlet-name>
		<servlet-class>calculus.admin.AdminConsoleServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>AdminConsole</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminConsole</servlet-name>
		<url-pattern>/admin/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminConsole</servlet-name>
		<url-pattern>/admin-safe</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecalculateRecommendations</servlet-name>
		<servlet-class>calculus.admin.RecalculateRecommendationsServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>RecalculateRecommendations</servlet-name>
		<url-pattern>/admin/recalculate-recommendations</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>UniversalNotification</servlet-name>
		<servlet-class>calculus.admin.UniversalNotificationServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>UniversalNotification</servlet-name>
		<url-pattern>/admin/send-notification</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AchievementModification</servlet-name>
		<servlet-class>calculus.admin.AchievementModificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AchievementModification</servlet-name>
		<url-pattern>/admin/achievement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SimulateRandomUsers</servlet-name>
		<servlet-class>calculus.admin.SimulateRandomUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimulateRandomUsers</servlet-name>
		<url-pattern>/admin/simulate-random-rating-users</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AchievementsDisplay</servlet-name>
		<servlet-class>calculus.pages.AchievementsDisplayServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>AchievementsDisplay</servlet-name>
		<url-pattern>/achievements/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AnswerMode</servlet-name>
		<servlet-class>calculus.content.AnswerModeServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>AnswerMode</servlet-name>
		<url-pattern>/answer/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Explore</servlet-name>
		<servlet-class>calculus.pages.ExploreServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Explore</servlet-name>
		<url-pattern>/explore/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Links</servlet-name>
		<servlet-class>calculus.pages.LinksServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Links</servlet-name>
		<url-pattern>/links/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ContentUpload</servlet-name>
		<servlet-class>calculus.admin.ContentUploadServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ContentUpload</servlet-name>
		<url-pattern>/admin/upload-new-content</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Personalize</servlet-name>
		<servlet-class>calculus.general.PersonalizeServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Personalize</servlet-name>
		<url-pattern>/personalize/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PageNotFound</servlet-name>
		<servlet-class>calculus.pages.PageNotFoundServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>PageNotFound</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>SimulateUserQueue</servlet-name>
		<servlet-class>calculus.usermodeling.SimulateUserQueueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimulateUserQueue</servlet-name>
		<url-pattern>/admin/tasks/simulate-random-user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalculateRecommendations</servlet-name>
		<servlet-class>calculus.admin.CalculateRecommendationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalculateRecommendations</servlet-name>
		<url-pattern>/recommendations/calculate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AffirmConsent</servlet-name>
		<servlet-class>calculus.profile.AffirmConsentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AffirmConsent</servlet-name>
		<url-pattern>/affirm-consent</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MarkMenuItemsRead</servlet-name>
		<servlet-class>calculus.general.MarkMenuItemsReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkMenuItemsRead</servlet-name>
		<url-pattern>/mark-menu-items-read</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>BaselineServlet</servlet-name>
		<servlet-class>calculus.baseline.BaselineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaselineServlet</servlet-name>
		<url-pattern>/baseline</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaselineServlet</servlet-name>
		<url-pattern>/baseline/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>calculus.upload.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/admin/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadWorker</servlet-name>
		<servlet-class>calculus.upload.UploadWorker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadWorker</servlet-name>
		<url-pattern>/admin/upload/worker</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>calculus.upload.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/admin/download</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownloadWorker</servlet-name>
		<servlet-class>calculus.upload.DownloadWorker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadWorker</servlet-name>
		<url-pattern>/admin/download/worker</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TopicSelectorServlet</servlet-name>
		<servlet-class>calculus.topic.TopicSelectorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TopicSelectorServlet</servlet-name>
		<url-pattern>/topic-selector/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicSelectorServlet</servlet-name>
		<url-pattern>/topic-explorer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicSelectorServlet</servlet-name>
		<url-pattern>/topics</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AcknowledgementServlet</servlet-name>
		<servlet-class>calculus.pages.AcknowledgementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AcknowledgementServlet</servlet-name>
		<url-pattern>/thankyou/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcknowledgementServlet</servlet-name>
		<url-pattern>/thank-you/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcknowledgementServlet</servlet-name>
		<url-pattern>/thanks/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TopicServlet</servlet-name>
		<servlet-class>calculus.topic.TopicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TopicServlet</servlet-name>
		<url-pattern>/topic/*</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>ContentApprovalServlet</servlet-name>
	    <servlet-class>calculus.general.ContentApprovalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ContentApprovalServlet</servlet-name>
	    <url-pattern>/content-approval/*</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>RecalculateTopicTagsServlet</servlet-name>
	    <servlet-class>calculus.admin.RecalculateTopicTagsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RecalculateTopicTagsServlet</servlet-name>
	    <url-pattern>/admin/recalculate-topics-tags</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
	   	<init-param>
			<param-name>calculateRpcCosts</param-name>
	    	<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
	    <filter-name>appstats</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
	    <servlet-name>appstats</servlet-name>
	    <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>appstats</servlet-name>
	    <url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
		    <web-resource-name>appstats</web-resource-name>
		    <url-pattern>/appstats/*</url-pattern>
		</web-resource-collection>
			<auth-constraint>
		    <role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
